<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 Overdose.digital. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <laybuy_payment>
                <active>0</active>
                <sandbox>1</sandbox>
                <payment_action>authorize_capture</payment_action>
                <transfer_line_items>0</transfer_line_items>
                <send_invoice_to_customer>0</send_invoice_to_customer>
                <store_token_data>1</store_token_data>
                <merchant_id />
                <merchant_api_key />
                <min_order_total>10</min_order_total>
                <max_order_total>5000</max_order_total>
                <model>Laybuy\Laybuy\Model\Laybuy</model>
                <title>Laybuy Payment</title>
                <debug>1</debug>
                <show_in_product_page>1</show_in_product_page>
                <show_in_category_page>1</show_in_category_page>
                <show_in_cart_page>1</show_in_cart_page>
                <show_full_logo>0</show_full_logo>
                <show_logo_position>right</show_logo_position>
            </laybuy_payment>
        </payment>
    </default>
</config>